<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>P2P Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-app="app" ng-controller="mainCtrl">

  <!-- BEGIN header -->
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3><span>P2P WEB</span></h3>
    </div>
  </md-toolbar>
  <!-- END header -->

  <!-- BEGIN display blocks -->
  <div class="ng-cloak">
    <md-content layout="row" layout-wrap layout-align="center start" layout-xs="column">
      <div flex="70" flex-sm="100" flex-xs="100" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Posts</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div ng-show="getBlocks('').length == 0" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-list ng-hide="getBlocks('').length == 0">
              <div ng-repeat="block in getBlocks('')">

                <!-- Display if this item is the selected item -->
                <md-list-item ng-show="block === selectedPost" class="md-1-line md-long-text">
                  <div class="md-list-item-text" layout="column">
                    <div class="md-title">
                      <span ng-click="vote(block, 1)" ng-class="{'arrow-pushed': getMyVote(block) === 1}" class="arrow-up"></span>
                      <span>{{getVoteCount(block)}}</span>
                      <span ng-click="vote(block, -1)" ng-class="{'arrow-pushed': getMyVote(block) === -1}" class="arrow-down space-right"></span>
                      <span ng-click="selectPost(block)">
                        {{ getTitlePreview(block) }}
                      </span>
                    </div>
                    <div ng-show="block === selectedPost" class="md-body-1" track by $index>
                      <p ng-repeat="line in block.content.body.split('\n') track by $index">
                        {{ line }}
                      </p>
                    </div>
                  </div>
                </md-list-item>

                <!-- Display if this item is *NOT* the selected item -->
                <md-list-item ng-hide="block === selectedPost" ng-click="selectPost(block)" class="md-2-line">
                  <div class="md-list-item-text" layout="column">
                    <div class="md-title">
                      {{ getTitlePreview(block) }}
                    </div>
                    <div class="md-body-1">
                      {{ getBodyPreview(block) }}
                    </div>
                  </div>
                </md-list-item>

                <md-divider ng-hide="$last"></md-divider>
              </div>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>
  <!-- END display blocks -->

  <!-- BEGIN create post -->
  <div ng-controller="createPostCtrl"  class="ng-cloak">
    <md-content layout="row" layout-wrap layout-align="center start" layout-xs="column">
      <div flex="70" flex-sm="100" flex-xs="100" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Submit a post</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container class="md-block">
              <label>Title</label>
              <input type="text" ng-model="postTitle">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Content</label>
              <textarea ng-model="postBody" columns="1"></textarea>
              <md-button ng-disabled="!canSubmit()" ng-click="submitPost()" class="md-raised md-primary">Send</md-button>
            </md-input-container>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>
  <!-- END post message -->

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <script src="/js/clientbundle.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
