<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>P2Pweb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
</head>
<body ng-app="app" ng-controller="mainCtrl">

  <!-- BEGIN display blocks -->
  <div ng-cloak ng-hide="blocks.length == 0">
    <md-content layout="row" layout-wrap layout-align="center start" layout-xs="column">
      <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <md-card>
          <md-card-content>
            <md-list>
              <md-subheader class="md-no-sticky">Posts</md-subheader>
              <div ng-repeat="block in blocks track by $index">
                <md-list-item class="md-1-line">
                  <div class="md-list-item-text" layout="column">
                    <p>{{ block.content }}</p>
                  </div>
                </md-list-item>
                <md-divider ng-hide="$last"></md-divider>
              </div>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>
  <!-- END display blocks -->

  <!-- BEGIN post message -->
  <div ng-cloak>
    <md-content layout="row" layout-wrap layout-align="center start" layout-xs="column">
      <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <md-card>
          <md-card-content>
            <md-input-container class="md-block">
              <label>Post a message</label>
              <textarea ng-model="messageText" columns="1" md-maxlength="150" rows="5"></textarea>
              <md-button ng-disabled="messageText == ''" ng-click="postMessage()" class="md-raised md-primary">Send</md-button>
            </md-input-container>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>
  <!-- END post message -->

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <script src="/js/clientbundle.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
